<html>
<head>
    <title>首页</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
</head>

<body>

<div>
    <h1>首页</h1>
    <h3>你好，<%= msg.txt %></h3>
</div>
<ul class="layui-nav layui-nav-tree" lay-filter="test">
    <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
    <li class="layui-nav-item">
        <a href="javascript:;">数据展示</a>
        <dl class="layui-nav-child">
            <dd><a href="/dataTables">正确率</a></dd>
            <dd><a href="/statisticalData">答题数据</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">题库展示</a>
        <dl class="layui-nav-child">
            <dd><a href="/QuestionBank">题库</a></dd>
            <dd><a href="/QuestionBankBatchImport">批量导入</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">弹幕系统</a>
        <dl class="layui-nav-child">
            <dd><a href="/danmu">弹幕</a></dd>
        </dl>
    </li>

    <li class="layui-nav-item">
        <a href="javascript:;">测试课程</a>
        <dl class="layui-nav-child">
            <dd><a href="/videos/1">视频1</a></dd>
<!--            <dd><a href="javascript:;">视频2</a></dd>-->
        </dl>
    </li>
</ul>

</body>


<script src="/layui/layui.js"></script>
</html>

